.title-wrapper{
    margin: 10px 20px;
    text-align: center;
  }
  
  .title-heading {
    font-size: 56px;
    font-weight: 700;
  }
  
  .title-copy {
    font-size: 18px;
    font-weight: 500;
  }